{
  "env": {
    "browser": true,
    "es2021": true
  },
  "parser": "@babel/eslint-parser",
  "extends": [
    "eslint:recommended",
    "plugin:jest/recommended"
  ],
  "plugins": [
    "jest"
  ]
}
